.body {
  padding-top: 200px;
}

.content {
  display: flex;
  flex-direction: column;
}

img {
  margin: auto;
}

h2 {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

.card {
  margin: auto;
  width: 800px;
  height: 250px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
section {
  margin: auto;
  width: 100%;
}

button {
  margin-top: 20px;
  height: 45px;
  font-size: 18px;
  width: 100%;
}
