.body {
  padding-top: 135px;
  height: 70vh;
}

.container {
  display: flex;
  height: 100%;
}

.card {
  margin: auto;
  width: 800px;
  height: 400px;
  background-color: white;
  text-align: center;
  display: flex;
}

.content{
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-size: 37px;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}
