<div class="body">
  <section class="introduction">
    <div class="content">
      <div class="container">
        <div class="call-to-action">
          <img src="assets/home/logo.svg" alt="logo">
          <h1>Bem vindo!</h1>
          <h1 class="text-secondary">
            Está com fome? <br>
            Peça e receba em casa!
          </h1>
          <button style="cursor: pointer;" (click)="changeHeaderStyle()" [routerLink]="['/restaurants']" class="p-button">ver restaurantes</button>
        </div>
        <div class="hamburguer">
          <img src="assets/home/hamburguer.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="p-bg"></section>
</div>
